@charset "UTF-8";

/* Config paisagem (landscape) */

body {
    background: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;

}
